/* client/src/App.css */
.App {
    text-align: center;
    padding: 20px;
}

.piano-container {
    max-width: 800px;
    margin: 0 auto;
}

.piano {
    display: flex;
    position: relative;
    margin: 40px auto;
    height: 200px;
    width: fit-content;
    min-width: 350px; /* min width for one octave */
    overflow-x: auto;
}

.natural-note {
    width: 50px;
    height: 200px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    z-index: 1;
    flex-shrink: 0; /* prevent keys from shrinking */
}

.flat-note {
    width: 30px;
    height: 120px;
    background: black;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    color: white;
    top: 0;
}

/* key press effects */
.natural-note:active, .flat-note:active {
    transform: scale(0.98);
}

.natural-note.active {
    background-color: #e0e0e0;
}

.flat-note.active {
    background-color: #333;
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1%;
    right: 0;
    height: 60px;
    width: 750px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.05);
    border: 1px solid #e7f2ff;
    border-radius: 100px;
}

nav div {
    /* padding: 10px 12px; */
    /* padding: 0; */
    /* margin: 0; */
    border-radius: 6px;
    /* transition: background-color 0.2s; */
    /* height: 100%; */
    transition: background-color 0.2s ease, border-radius 0.2s ease
}

nav div a {
    /* display: inline; */
    width: 100%;
    height: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    color: rgb(24, 24, 24);
}

nav div:hover {
    background-color: #e7f2ff;
    border-radius: 100px;
}


nav div:hover a {
    color: #498ad9;
}

nav a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

nav svg {
  vertical-align: middle;
}

.App {
    padding-top: 60px;
}

.interval-btn-nav .dropdown {
    display: none;
    position: absolute;
    background-color: white;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border: 1px solid #e7f2ff;
    /* border-radius: 5px; */
    /* top: 70%; */
    /* left: 0; */
    min-width: 120px;
    z-index: 1001;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
}

.interval-btn-nav:hover .dropdown {
    display: flex;
    flex-direction: column;
    width: 140px;
    top: 50px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
}

.interval-btn-nav .dropdown a {
    padding: 8px 12px;
    /* display: block; */
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: rgb(24, 24, 24);;
    text-decoration: none;
}

.interval-btn-nav .dropdown a:hover {
    /* background-color: rgb(228, 228, 228); */
    background-color: #e7f2ff;
    color: #498ad9;
    /* border-radius: 0px; */
}