.download-text {
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0;
    user-select: none;

}
.diagram-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.saving,
.json-download,
.json-import {
    background-color: rgba(0, 0, 0, .097);
    border: 1px solid rgba(0, 0, 0, 0.097);
    font-weight: bold;
    font-variant: small-caps;
    width: 80px;
    height: 40px;
    border-radius: 4px;
}

.saving:hover,
.json-download:hover,
.json-import:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.161);
}

.saving:active,
.json-download:active,
.json-import:active {
    transform: scale(0.95);
}


body.dark .saving,
body.dark .json-download,
body.dark .json-import {
    background-color: #141414;
    color: #fffff8;
}

body.dark .saving:hover,
body.dark .json-download:hover,
body.dark .json-import:hover {
    background-color: rgba(0, 0, 0, 0.468);
}
