.page {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    width: max-content
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    min-width: 100%;
    width: max-content;
    background-color: #fffff8;
    border-bottom: 1px solid #ddd;
    padding: 2.5px 0px;

}

body.dark .header {
    background-color: rgb(10, 10, 10);
    border-color: #000000;
}

.header-toggles {
    margin-left: auto;
    display: flex;
    align-items: center;
    z-index: 2;
}

.interface-and-tuning-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}

.interface-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.fretboard-interface-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;
    
}

/* .fretboard-interface-container > :last-child {
    margin-right: 43px;
    align-self: flex-end;
} */

.fretboard-title {
    position: static;
    transform: none;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Space Mono", sans-serif;
    user-select: none;
    white-space: nowrap;
}

.switch-fretboards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 16px;
}

.switch-fretboards p {
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: bold;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    text-indent: 10px;
}
.info .header {
    text-indent: 0%;
}

.info p + p {
    margin-top: 6px;
}

.info kbd {
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: monospace;
    font-weight: bold;
}

body.dark .info p {
    color: #ddd;
}

body.dark .info kbd {
    background-color: #555;
    color: #fff;
}

.fretboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.settings-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(246, 255, 82, 0.039);
    border: 2px solid rgba(0, 0, 0, 0.149);
    position: relative;
    gap: 5px;
    margin: 5px;
    margin-top: -85px; /* TODO: find better way to do this */
}

body.dark .settings-block-container {
    background-color: #212223;
}

.settings-block {
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 255, 82, 0.039);
    align-items: center;
    justify-content: center;
    border-radius: 2.5px;
    padding: 10px;
    width: 300px;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.097);
}

.settings-block > * {
    max-width: 95%;
    min-width: 0;
}

.settings-block#tuning {
    width: auto;
    margin: 0;
    padding: 5px 10px;
    position: absolute;

}

body.dark .settings-block {
    background-color: #191a1b;
    border: 1.5px solid #000000;
}

.corner-dropdown-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease;
}

.corner-dropdown-btn:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.add-remove-fretboard-btns {
    display: flex;
    gap: 5px;
}

.add-remove-fretboard-btns button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 40px;
    color: black;
    border-radius: 8px;
}

body.dark .add-remove-fretboard-btns button {
    color: #fffff8;
    
}

.add-remove-fretboard-btns button:hover {
    color: rgb(231, 172, 62);
    background-color: rgba(255, 193, 68, 0.211);
}

body.dark .add-remove-fretboard-btns button:hover {
    color: rgb(179, 179, 179);
    background-color: rgba(133, 133, 133, 0.211);
}

.add-remove-fretboard-btns button:active {
    transform: scale(0.95);
}

.add-remove-fretboard-btns button svg {
    font-size: 30px;
}