.fretboard-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    margin: 10px;
}

.switch-fretboards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 16px;
}

.switch-fretboards p {
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: bold;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    text-indent: 10px;
}
.info .header {
    text-indent: 0%;
}

.info p + p {
    margin-top: 6px;
}

.info kbd {
    background-color: #eee;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: monospace;
    font-weight: bold;
}

body.dark .info p {
    color: #ddd;
}

body.dark .info kbd {
    background-color: #555;
    color: #fff;
}
