.neck-setup-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-bottom: 5px;
}

.neck-setup-text {
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 5px;
}

.neck-setup-dropdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 5px;
}

.neck-setup-strings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.label-and-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 3px;
}

.string-label {
    padding: 10px;
}

.neck-setup-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.neck-setup-input label {
    
    font-weight: bold;
    font-variant: small-caps;
}

.neck-setup-interface {
    display: flex;
    flex-direction: column;
}

.neck-setup-string-control-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    gap: 10px;
    padding: 0;
    margin-top: 5px;
}

.neck-setup-string-control-group button {
    cursor: pointer;
    width: 30px;
    height: 20px;
    font-weight: bold;
    margin: 0;
}

.neck-setup-string-control-group button svg {
    margin-top: 4px;
}

.change-strings {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 10px;
}

.arrows-and-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrows-and-svg button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .097);
    border: 1px solid rgba(0, 0, 0, 0.097);
    height: auto;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    width: 53px;
    height: 20px;
    margin-left: 5px;
    font-size: 50px;
}

.arrows-and-svg button svg {
    width: 32px;
    height: 32px;
    color: black;
}

.arrows-and-svg button:hover {
    background-color: rgba(0, 0, 0, 0.161);
}

body.dark .arrows-and-svg button:hover {
    background-color: rgba(0, 0, 0, 0.468);
}

.arrows-and-svg button:active {
    transform: scale(0.95);
}

body.dark .arrows-and-svg button svg {
    color: #fffff1;
}

body.dark .arrows-and-svg button {
    background-color: #141414;
}