.scale-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    margin-bottom: 5px;
}

.scale-text {
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 5px;
}

.scale-dropdown-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 5px;
}



.scale-dropdown-wrapper p {
    margin: 0;
}

.label-and-dropdown {
    display: flex;
    flex-direction: column;
}

.label-and-dropdown p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 3px;
}

.scale-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    min-height: 30px; 
    height: auto;
    text-align: center;
    max-width: 130px;
    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 30px; 

    height: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .097);
}

.scale-dropdown#scale {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 15.5px;
}

.scale-dropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.161);
}

body.dark .scale-dropdown {
    background-color: #141414;
    color: #fffff8;
}

body.dark .scale-dropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.468);
}

.generate-scale button {
    font-size: 15px;
    font-weight: 600;
    font-variant: small-caps;
    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 30px; 
    height: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .097);
    /* background-color: #f0f0f0; */
    /* color: black; */
}

.generate-scale button:hover {
    background-color: rgba(0, 0, 0, 0.161);
}

.generate-scale button:active {
    transform: scale(0.95);
}

body.dark .generate-scale button {
    background-color: #141414;
    color: #fffff8;
}


body.dark .generate-scale button:hover {
    background-color: rgba(0, 0, 0, 0.468);
}