.toggle-btns {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
}

.toggle-btns button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 40px;
    color: black;
    border-radius: 8px;
}

body.dark .toggle-btns button {
    color: #fffff8;
    
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggle-text {
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0;
    margin-bottom: 5px;
    user-select: none;
}

.label-text {
    font-size: 12px;
    font-variant: small-caps;
    white-space: nowrap;
}

.toggle-btns button:hover {
    color: rgb(231, 172, 62);
    background-color: rgba(255, 193, 68, 0.211);
    
}

body.dark .toggle-btns button:hover {
    color: rgb(179, 179, 179);
    background-color: rgba(133, 133, 133, 0.211);
}

/* body.dark .toggle-btns button:hover {
    color: rgb(68, 146, 255);
} */

.toggle-btns button:active {
    transform: scale(0.95);
}


.toggle-and-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    pointer-events: none;
}

.icon {
    margin: 0;
    padding: 0;
    line-height: 0;
    pointer-events: none;

}
.icon + .icon {
    margin-left: -35px;
}

.icons .icon:nth-child(2) {
    margin-top: 10px;
}

.key-select {
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    margin-top: -11.9px;
}

.key-text {
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 3px;
}