.tuning-editor {
    /* position: absolute; */
    left: 50px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(246, 255, 82, 0.039);
    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: 3px;
    height: fit-content;
    min-width: 450px;
}

.tuning-block-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    /* border: 1.5px solid rgba(0, 0, 0, 0.237); */
    /* background-color: #fffff8; */
    background-color: rgba(246, 255, 82, 0.039);
    border: 2px solid rgba(0, 0, 0, 0.237);
    /* margin-left: 10px; */
    margin-top: 5px;
    margin-left: 350px; /* TODO: find better way to do this */
}

.tuning-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}


.tuning-text {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    font-variant: small-caps;
}

.tune-input {
    display: flex;
    justify-content: center;
}

.tuning-editor > div {
    padding: 5px;
}

.tuning-editor p {
    padding: 0px;
    margin-top: 0px;
    user-select: none;
}

.tuning-editor .retune-note-btn {
    all: unset;
    cursor: pointer;
    padding: 5px 10px;
    /* border: 1px solid #ccc; */
    border: 1px solid rgba(0, 0, 0, 0.097);
    background-color: rgba(0, 0, 0, 0.097);
    margin: 0px 1px;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 20px;              /* fixed width */
    height: 20px;
}

body.dark .tuning-editor .retune-note-btn {
    background-color: #141414;
    color: #ddd;
}

.tuning-editor .retune-note-btn:hover {
    background-color: rgba(0, 0, 0, 0.161);
}

body.dark .tuning-editor .retune-note-btn:hover {
    background-color: rgba(0, 0, 0, 0.468);
}

.tuning-editor input {

    /* display: inline-block; */
    /* box-sizing: border-box; */
    width: 20px;
    white-space: nowrap;
    padding: 5px 10px;
    margin: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 20px; */
}
.tune-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.tuning-text {
    font-size: 16px;
    display: inline-block;
    margin: 5px;
    width: fit-content;
    /* padding: 5px; */
}

.tune-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tune-dropdown-container p {
    user-select: none;
}

.tuning-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.097);
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 4px;
    color: black;
    font-size: 15px;
    min-height: 30px; 
    height: auto;
    text-align: center;
    font-variant: small-caps;

}

.tuning-dropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.161);
}

body.dark .tuning-dropdown {
    background-color: #141414;
    color: #ddd;
}

body.dark .tuning-dropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.468);
}


.toggle-btns#refresh {
    position: absolute;
    margin-left: 75px;
    font-size: 48px;
    height: 50px;
    width: 50px;
}

.reset-tuning:hover {
    cursor: pointer;
    color: rgb(82, 82, 82);
    transform: scale(1.05);
}

.saving button,
.json-download button,
.json-import {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 30px; 
    height: auto;
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
}

.json-import {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 5px;
}

body.dark .reset-tuning,
body.dark .saving button,
body.dark .json-download button,
body.dark .json-import {
    background-color: #141414;
    color: #ddd;
}

body.dark .reset-tuning:hover,
body.dark .saving button:hover,
body.dark .json-download button:hover,
body.dark .json-import:hover {
    background-color: #212121;
}


body.dark .tuning-editor {
    background-color: #191a1b;
    border-color: black;
}

body.dark .tuning-block-container {
    background-color: #212223;
}
